@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,700&family=Raleway:wght@100..900&family=Roboto:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
  background: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #242b33;
  color: #fff;
  font-size: 16px;
}

a {
  color: #fff;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
a:hover {
  color: #d4c17f;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;
}
.container--small {
  max-width: 840px;
}

.text-right {
  text-align: right;
}

.visually-hidden {
  height: 1px;
  overflow: hidden;
  width: 1px;
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  white-space: nowrap;
}

.none {
  display: none !important;
}

.title-2 {
  font-size: 36px;
  font-family: "Playfair Display", serif;
  color: #d4c17f;
  font-weight: 700;
}
@media screen and (max-width: 959px) {
  .title-2 {
    font-size: 28px;
  }
}

.link-bold {
  color: #d4c17f;
  font-weight: 700;
}

.no-scroll {
  overflow-y: hidden;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0px;
  min-height: 840px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(11.979%, rgb(36, 43, 51)), color-stop(51.042%, rgba(45, 52, 60, 0.38)), color-stop(92.188%, rgb(36, 43, 51))), url("../img/Header/header-bg.jpeg");
  background: linear-gradient(180deg, rgb(36, 43, 51) 11.979%, rgba(45, 52, 60, 0.38) 51.042%, rgb(36, 43, 51) 92.188%), url("../img/Header/header-bg.jpeg");
  background-repeat: no-repeat;
}
@media screen and (max-width: 959px) {
  .header {
    min-height: unset;
    row-gap: 50px;
  }
}

.header__top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top-row--mobile {
  position: fixed;
  background-color: #242b33;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 60px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 40px 0px;
}
.header__top-row--mobile .header__nav {
  display: block;
}
.header__top-row--mobile .nav__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 30px;
}
.header__top-row--mobile .header__nav-btn {
  position: fixed;
  z-index: 11;
  right: 15px;
  top: 50px;
}

@media screen and (max-width: 959px) {
  .header__nav {
    display: none;
  }
}

.header__nav-btn {
  display: none;
}
@media screen and (max-width: 959px) {
  .header__nav-btn {
    display: block;
  }
}

.header__titel {
  position: relative;
  padding-bottom: 121px;
  text-align: center;
  font-size: 48px;
  font-family: "Playfair Display", serif;
  color: #d4c17f;
  font-weight: 700;
  line-height: 64px;
}
@media screen and (max-width: 959px) {
  .header__titel {
    font-size: 32px;
    padding-bottom: 100px;
  }
}

.header__titel-icon {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50% 0%);
          transform: translate(-50% 0%);
}

.header__footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
@media screen and (max-width: 959px) {
  .header__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 30px;
  }
}

.nav {
  font-size: 14px;
  letter-spacing: 0.05em;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}

/* Nav Icon */
.nav-icon-btn {
  --time: 0.1s;
  --width: 40px;
  --height: 30px;
  --line-height: 1px;
  --line-margin: 2;
  --color: #fff;
  height: var(--height);
  width: var(--width);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  -webkit-transition: top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
  transition: top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
}

.nav-icon::before {
  top: calc(var(--line-height) * -8);
}

.nav-icon::after {
  top: calc(var(--line-height) * 8);
}

.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  -webkit-transition: top var(--time) linear, -webkit-transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, -webkit-transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time), -webkit-transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.info {
  position: relative;
  font-size: 18px;
}
.info--map, .info--tel {
  padding-left: 35px;
}
.info--map::before, .info--tel::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 50%;
  width: 21px;
  height: 21px;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  background-repeat: no-repeat;
  background-position: center;
}
.info--tel::before {
  background-image: url("./../img/Header/phone.svg");
}
.info--map::before {
  background-image: url("./../img/Header/map.svg");
}
@media screen and (max-width: 959px) {
  .info {
    font-size: 14px;
  }
  .info--map, .info--tel {
    padding-left: 26px;
  }
}

.benefits {
  overflow: hidden;
  position: relative;
  padding: 120px 0;
}
.benefits::after {
  content: "II";
  left: calc(50% + 555px);
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  position: absolute;
  top: 0;
  line-height: 1.15;
  opacity: 0.02;
  font-family: "Playfair Display", serif;
  font-size: 400px;
}

.benefits__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
}
@media screen and (max-width: 959px) {
  .benefits__row {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 40px 30px;
  }
}

.benefits__item {
  text-align: center;
}

.benefits__item-img {
  margin-bottom: 53px;
}
@media screen and (max-width: 959px) {
  .benefits__item-img {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
  }
}

.benefits__item-text {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.35;
}
@media screen and (max-width: 959px) {
  .benefits__item-text {
    font-size: 16px;
  }
}

.appartments {
  position: relative;
}
.appartments::before {
  content: "III";
  right: calc(50% + 555px);
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
  position: absolute;
  top: 0;
  line-height: 1.15;
  opacity: 0.02;
  font-family: "Playfair Display", serif;
  font-size: 400px;
}

.appartments__title {
  margin-bottom: 88px;
}
@media screen and (max-width: 959px) {
  .appartments__title {
    margin-bottom: 44px;
  }
}

.appartments__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
@media screen and (max-width: 959px) {
  .appartments__cards {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
}

.card {
  overflow: hidden;
  position: relative;
  display: inline-block;
  color: #fff;
}
.card::before {
  content: "";
  position: absolute;
  z-index: 6;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(36, 43, 51, 0)), to(#242b33));
  background: linear-gradient(180deg, rgba(36, 43, 51, 0), #242b33 100%);
}
.card::after {
  opacity: 0;
  content: "";
  position: absolute;
  z-index: 7;
  left: 15px;
  top: 15px;
  right: 15px;
  bottom: 15px;
  border: 3px double rgba(255, 255, 255, 0.4);
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}
.card:hover::after {
  opacity: 1;
}
.card:hover {
  color: #fff;
}

.card__img {
  position: relative;
  z-index: 5;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.card:hover .card__img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: contrast(110%) brightness(1.2) saturate(1.2);
          filter: contrast(110%) brightness(1.2) saturate(1.2);
}

.card__title {
  position: absolute;
  z-index: 9;
  left: 50px;
  right: 20px;
  bottom: 44px;
  font-size: 24px;
}
@media screen and (max-width: 959px) {
  .card__title {
    font-size: 20px;
    left: 30px;
    bottom: 30px;
  }
}

.cta {
  padding: 180px 0;
  background-image: url("../../img/city/city-bg2.jpg");
}
@media screen and (max-width: 959px) {
  .cta {
    padding: 60px 0px;
  }
}

.cta__title {
  margin-bottom: 17px;
}

.cta__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
@media screen and (max-width: 959px) {
  .cta__wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

.cta__text {
  line-height: 1.5;
}
.cta__text p + p {
  margin: 1em;
}
@media screen and (max-width: 959px) {
  .cta__text {
    font-size: 14px;
  }
}

.cta__form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 35px 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 30px 35px;
}
@media screen and (max-width: 959px) {
  .cta__form {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .cta__form p {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.form__input {
  height: 50px;
  padding: 12px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 14px;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
.form__input::-webkit-input-placeholder {
  color: #BEBEBE;
}
.form__input::-moz-placeholder {
  color: #BEBEBE;
}
.form__input:-ms-input-placeholder {
  color: #BEBEBE;
}
.form__input::-ms-input-placeholder {
  color: #BEBEBE;
}
.form__input::placeholder {
  color: #BEBEBE;
}
.form__input:focus {
  background-color: rgba(255, 255, 255, 0.25);
}

.form__privacy {
  font-size: 13px;
  color: #e7e7e7;
  text-align: center;
  line-height: 1.23;
}

.form__btn {
  height: 50px;
  background-color: #d4c17f;
  padding: 12px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.form__btn:hover {
  background-color: #ddc676;
}

.video {
  overflow: hidden;
  text-align: center;
  position: relative;
}
.video::after {
  content: "IV";
  left: calc(50% + 555px);
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  position: absolute;
  top: 0;
  line-height: 1.15;
  opacity: 0.02;
  font-family: "Playfair Display", serif;
  font-size: 400px;
  line-height: 1.55;
}

.video__link {
  position: relative;
  display: inline-block;
}
.video__link::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(36, 43, 51, 0.8);
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.video__link:hover::before {
  background: rgba(36, 43, 51, 0.7);
}
.video__link:hover .video__icon {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
  -webkit-filter: saturate(1.3);
          filter: saturate(1.3);
}

.video__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
@media screen and (max-width: 959px) {
  .video__icon {
    width: 70px;
    height: 70px;
  }
}

.section-map {
  padding: 180px 0;
  position: relative;
}
.section-map::before {
  content: "V";
  right: calc(50% + 555px);
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
  z-index: -1;
  position: absolute;
  top: 0;
  line-height: 1.15;
  opacity: 0.02;
  font-family: "Playfair Display", serif;
  font-size: 400px;
  top: 180px;
  line-height: 1;
}
@media screen and (max-width: 959px) {
  .section-map {
    padding: 90px 0px;
  }
}

.section-map__title {
  margin-bottom: 88px;
}
@media screen and (max-width: 959px) {
  .section-map__title {
    margin-bottom: 44px;
  }
}

.map {
  height: 358px;
  background: #626262;
}

.feedback {
  padding-bottom: 180px;
}
@media screen and (max-width: 959px) {
  .feedback {
    padding-bottom: 90px;
  }
}

.feedback__title {
  margin-bottom: 38px;
}
@media screen and (max-width: 959px) {
  .feedback__title {
    margin-bottom: 19px;
  }
}

.feedback__form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 959px) {
  .feedback__form {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .feedback__form p {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.footer {
  background-color: #2d343c;
  padding: 72px 0 51px 0;
  font-size: 14px;
  letter-spacing: 0.05rem;
}
@media screen and (max-width: 959px) {
  .footer {
    padding-top: 36px;
    padding-bottom: 25px;
  }
}

.footer__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
@media screen and (max-width: 959px) {
  .footer__grid {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 40px;
  }
}

.footer__logo {
  margin-top: -12px;
}

.footer__nav-list {
  display: -ms-grid;
  display: grid;
  gap: 15px;
}

.footer__address {
  display: -ms-grid;
  display: grid;
  gap: 20px;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 22px;
     -moz-column-gap: 22px;
          column-gap: 22px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}