@mixin decorNumber {
   position: absolute;
   top: 0;
   line-height: 1.15;
   opacity: 0.02;
   font-family: $font-accent;
   font-size: 400px;
}

@mixin mediaTablet {
   @media screen and (max-width: $tablet) {
      @content;
   }
}